USE [master]
GO
/****** Object:  Database [ClipMoney]    Script Date: 27/12/2020 21:06:45 ******/
CREATE DATABASE [ClipMoney]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClipMoney', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ClipMoney.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClipMoney_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ClipMoney_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClipMoney].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClipMoney]
GO
/****** Object:  Table [dbo].[CUENTAS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAS](
	[ID_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_CUENTA] [tinyint] NOT NULL,
	[ID_DIVISA] [tinyint] NULL,
	[ID_USUARIO] [int] NULL,
	[CVU] [char](22) NOT NULL,
	[SALDO] [money] NOT NULL,
	[ALIAS] [varchar](20) NULL,
	[FECHA_APERTURA] [date] NULL,
 CONSTRAINT [PK_CUENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPOSITOS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPOSITOS](
	[ID_DEPOSITO] [int] IDENTITY(1,1) NOT NULL,
	[FEC_DEPOSITO] [datetime] NULL,
	[TIPO_DEPOSITO] [varchar](10) NULL,
	[MONTO] [money] NULL,
	[ID_CUENTA] [int] NULL,
	[TAR_NOM_COMPLETO] [varchar](50) NULL,
	[TAR_NUM] [char](4) NULL,
	[TAR_NUM_DOCUMENTO] [int] NULL,
	[TAR_FEC_VEN] [char](5) NOT NULL,
 CONSTRAINT [PK_DEPOSITOS] PRIMARY KEY CLUSTERED 
(
	[ID_DEPOSITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIVISAS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIVISAS](
	[ID_DIVISA] [tinyint] IDENTITY(1,1) NOT NULL,
	[DIVISA] [varchar](50) NOT NULL,
	[COMISION] [float] NULL,
	[PRECIO_COMPRA] [smallmoney] NOT NULL,
	[PRECIO_VENTA] [smallmoney] NOT NULL,
 CONSTRAINT [PK_DIVISA] PRIMARY KEY CLUSTERED 
(
	[ID_DIVISA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[ID_SERVICIO] [smallint] NOT NULL,
	[FECHA_PAGO] [date] NULL,
	[FECHA_VENCIMIENTO] [date] NOT NULL,
	[MONTO] [smallmoney] NOT NULL,
	[ID_CUENTA] [int] NOT NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVERSIONES]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVERSIONES](
	[ID_INVERSION] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_INVERSION] [tinyint] NOT NULL,
	[ID_CUENTA] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[MONTO] [smallmoney] NOT NULL,
	[INTERES] [float] NULL,
	[PLAZO] [int] NULL,
 CONSTRAINT [PK_INVERSIONES] PRIMARY KEY CLUSTERED 
(
	[ID_INVERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID_SERVICIO] [smallint] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_SERVICIO] [tinyint] NULL,
	[SERVICIO] [varchar](50) NULL,
 CONSTRAINT [PK_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[ID_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITUACIONES_CREDITICIAS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITUACIONES_CREDITICIAS](
	[ID_SITUACION_CREDITICIA] [tinyint] IDENTITY(1,1) NOT NULL,
	[SITUACION] [varchar](50) NOT NULL,
	[MAX_GIRO_DESCUBIERTO] [smallmoney] NOT NULL,
 CONSTRAINT [PK_SITUACION_CREDITICIA] PRIMARY KEY CLUSTERED 
(
	[ID_SITUACION_CREDITICIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CUENTAS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CUENTAS](
	[ID_TIPO_CUENTA] [tinyint] IDENTITY(1,1) NOT NULL,
	[TIPO_CUENTA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_CUENTA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_INVERSIONES]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_INVERSIONES](
	[ID_TIPO_INVERSION] [tinyint] IDENTITY(1,1) NOT NULL,
	[INVERSION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_INVERSIONES] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_INVERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_SERVICIOS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SERVICIOS](
	[ID_TIPO_SERVICIO] [tinyint] IDENTITY(1,1) NOT NULL,
	[SERVICIO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMP_TRANSACCIONES]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_TRANSACCIONES](
	[TIPO_TRANSACCION] [varchar](13) NOT NULL,
	[FECHA] [smalldatetime] NOT NULL,
	[CUENTA] [char](22) NOT NULL,
	[MONTO] [money] NOT NULL,
	[CONCEPTO] [varchar](15) NULL,
	[NUMERO_COMPROBANTE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSFERENCIAS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSFERENCIAS](
	[ID_TRANSFERENCIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CUENTA_ORIGEN] [int] NOT NULL,
	[ID_CUENTA_DESTINO] [int] NOT NULL,
	[ID_DIVISA] [tinyint] NULL,
	[FECHA] [smalldatetime] NOT NULL,
	[CONCEPTO] [varchar](15) NULL,
	[MONTO] [money] NOT NULL,
 CONSTRAINT [PK_TRANSFERENCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[CUIL] [char](11) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[CLAVE] [varchar](max) NOT NULL,
	[EMAIL] [varchar](40) NOT NULL,
	[TELEFONO] [char](11) NOT NULL,
	[ID_SITUACION_CREDITICIA] [tinyint] NULL,
	[PRIVILEGIOS] [varchar](15) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOSxIMAGENES]    Script Date: 27/12/2020 21:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOSxIMAGENES](
	[ID_IMAGEN] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[ID_USUARIO] [int] NULL,
	[URL] [varchar](100) NULL,
	[TIPO] [int] NULL,
 CONSTRAINT [PK_USUARIOSxIMAGENES] PRIMARY KEY CLUSTERED 
(
	[ID_IMAGEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_CLIENTES] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_CLIENTES]
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_DIVISAS] FOREIGN KEY([ID_DIVISA])
REFERENCES [dbo].[DIVISAS] ([ID_DIVISA])
GO
ALTER TABLE [dbo].[CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_DIVISAS]
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_TIPO_CUENTAS] FOREIGN KEY([ID_TIPO_CUENTA])
REFERENCES [dbo].[TIPO_CUENTAS] ([ID_TIPO_CUENTA])
GO
ALTER TABLE [dbo].[CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_TIPO_CUENTAS]
GO
ALTER TABLE [dbo].[DEPOSITOS]  WITH CHECK ADD  CONSTRAINT [FK_DEPOSITOS_CUENTAS] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[CUENTAS] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[DEPOSITOS] CHECK CONSTRAINT [FK_DEPOSITOS_CUENTAS]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_CUENTAS] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[CUENTAS] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_CUENTAS]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_SERVICIOS] FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_SERVICIOS]
GO
ALTER TABLE [dbo].[INVERSIONES]  WITH CHECK ADD  CONSTRAINT [FK_INVERSIONES_CUENTAS] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[CUENTAS] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[INVERSIONES] CHECK CONSTRAINT [FK_INVERSIONES_CUENTAS]
GO
ALTER TABLE [dbo].[INVERSIONES]  WITH CHECK ADD  CONSTRAINT [FK_INVERSIONES_TIPO_INVERSION] FOREIGN KEY([ID_TIPO_INVERSION])
REFERENCES [dbo].[TIPO_INVERSIONES] ([ID_TIPO_INVERSION])
GO
ALTER TABLE [dbo].[INVERSIONES] CHECK CONSTRAINT [FK_INVERSIONES_TIPO_INVERSION]
GO
ALTER TABLE [dbo].[SERVICIOS]  WITH CHECK ADD  CONSTRAINT [FK_SERVICIOS_TIPO_SERVICIOS] FOREIGN KEY([ID_TIPO_SERVICIO])
REFERENCES [dbo].[TIPO_SERVICIOS] ([ID_TIPO_SERVICIO])
GO
ALTER TABLE [dbo].[SERVICIOS] CHECK CONSTRAINT [FK_SERVICIOS_TIPO_SERVICIOS]
GO
ALTER TABLE [dbo].[TRANSFERENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSFERENCIAS_CUENTAS_DESTINO] FOREIGN KEY([ID_CUENTA_DESTINO])
REFERENCES [dbo].[CUENTAS] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[TRANSFERENCIAS] CHECK CONSTRAINT [FK_TRANSFERENCIAS_CUENTAS_DESTINO]
GO
ALTER TABLE [dbo].[TRANSFERENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSFERENCIAS_CUENTAS_ORIGEN] FOREIGN KEY([ID_CUENTA_ORIGEN])
REFERENCES [dbo].[CUENTAS] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[TRANSFERENCIAS] CHECK CONSTRAINT [FK_TRANSFERENCIAS_CUENTAS_ORIGEN]
GO
ALTER TABLE [dbo].[TRANSFERENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSFERENCIAS_DIVISAS] FOREIGN KEY([ID_DIVISA])
REFERENCES [dbo].[DIVISAS] ([ID_DIVISA])
GO
ALTER TABLE [dbo].[TRANSFERENCIAS] CHECK CONSTRAINT [FK_TRANSFERENCIAS_DIVISAS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_SITUACIONES_CREDITICIAS] FOREIGN KEY([ID_SITUACION_CREDITICIA])
REFERENCES [dbo].[SITUACIONES_CREDITICIAS] ([ID_SITUACION_CREDITICIA])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_SITUACIONES_CREDITICIAS]
GO
ALTER TABLE [dbo].[USUARIOSxIMAGENES]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOSxIMAGENES_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[USUARIOSxIMAGENES] CHECK CONSTRAINT [FK_USUARIOSxIMAGENES_USUARIOS]
GO
USE [master]
GO
