<br/>   
<mat-card-content>
    <form [formGroup]="registrationForm" >
        <p>
            <mat-form-field>
                <input type="text" formControlName="nombreCompleto" matInput placeholder="Nombre completo">
            </mat-form-field> 
        </p>
        <p>
            <mat-form-field>
                <input type="text" formControlName="apellido" matInput placeholder="Apellido/s">
            </mat-form-field> 
        </p>
        <div>   
            <button type="submit" (click)="handleSubmit()" mat-raised-button color="primary">Registrarse</button>
        </div>
    </form>
</mat-card-content>