<mat-card fxLayout="column" fxLayoutAlign="center center">
    <img alt="Angular Logo" src="./assets/logo-moneyclip-simple.png" />
    <mat-card-title>Completá tus datos</mat-card-title>
    <mat-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="signUp()">
            <div id="firstForm" *ngIf="firstForm">
                <mat-form-field>
                    <mat-label>Nombres</mat-label>
                    <input type="text" formControlName="Name" matInput
                        placeholder="Ingresalo tal como figura en tu documento">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Apellido/s</mat-label>
                    <input type="text" formControlName="Surname" matInput
                        placeholder="Ingresalo tal como figura en tu documento">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Cuil</mat-label>
                    <input type="text" formControlName="Cuil" matInput placeholder="Cuil" minlength="7"
                        maxlength="11">
                    <mat-hint >Numero completo. Sin espacios ni guiones</mat-hint>
                </mat-form-field>
    
                <div>
                    <mat-form-field class="half">
                        <mat-label>Email </mat-label>
                        <input type="email" formControlName="Email" matInput
                            placeholder="example@host.com">
                    </mat-form-field>
    
                    <mat-form-field class="half" style="margin-left: 8px;">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" formControlName="Password" matInput placeholder=""
                            minlength="8">
                        <mat-hint>Minimo 8 caracteres</mat-hint>
    
                    </mat-form-field>
                </div>
                
                
                <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="onFileSelected()" formControlName="contraseña" #fileInput type="file" id="file"> -->
    
                
    
                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input type="text" formControlName="PhoneNumber" matInput >
                    <mat-hint>Numero completo. Sin espacios ni guiones</mat-hint>
                </mat-form-field>
                <br> <br>
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <span fxLayout="column" fxLayoutAlign="space-evenly center">
                        <label for="dniFront">Imagen de DNI del frente</label>
                        <input type="file" name="DniFront" (change)="onFileSelect($event)" />

                    </span>                    
                    <span fxLayout="column" fxLayoutAlign="space-evenly center">
                        <label for="dniBack">Imagen de DNI del dorso</label>
                        <input type="file" name="DniBack" (change)="onFileSelect($event)" />
                    </span>

                </div>
    
                <mat-card *ngIf="error" class="error-login">{{error}}</mat-card>
                
                <button mat-button id="terms" (click)="openDialog($event)">Terminos y condiciones</button>
    
    
                <div>
                    <button type="submit"
                        mat-raised-button
                        color="primary"
                        >Registrarse
                    </button>
                </div>


            </div>
        </form>
    </mat-card-content>
</mat-card>
