<mat-card fxLayout="column" fxLayoutAlign="center center">
    <img alt="Angular Logo" src="./assets/logo-moneyclip-simple.png" />
    <mat-card-title>Completá tus datos</mat-card-title>
    <mat-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="signUp()">

            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input type="text" formControlName="nombre" matInput
                    placeholder="Ingresalo tal como figura en tu documento">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Apellido/s</mat-label>
                <input type="text" formControlName="apellido" matInput
                    placeholder="Ingresalo tal como figura en tu documento">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cuil</mat-label>
                <input type="text" formControlName="cuil" matInput placeholder="Cuil" minlength="7"
                    maxlength="11">
                <mat-hint >Numero completo. Sin espacios ni guiones</mat-hint>
            </mat-form-field>

            <div>
                <mat-form-field class="half">
                    <mat-label>Email</mat-label>
                    <input type="email" formControlName="email" matInput
                        placeholder="example@host.com">
                </mat-form-field>

                <mat-form-field class="half" style="margin-left: 8px;">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" formControlName="contraseña" matInput placeholder=""
                        minlength="8">
                    <mat-hint>Minimo 8 caracteres</mat-hint>

                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input type="text" formControlName="telefono" matInput >
                <mat-hint>Numero completo. Sin espacios ni guiones</mat-hint>
            </mat-form-field>

            <mat-card *ngIf="error" class="error-login">{{error}}</mat-card>
            
            <button mat-button id="terms" (click)="openDialog($event)">Terminos y condiciones</button>

            <div>
                <button type="submit"
                    mat-raised-button
                    color="primary"
                    >Registrate
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>