

mat-card {
    width: 480px;
    margin: 50px auto;
}

mat-card-content {
    width: 95%;
}

img {
    width: 300px;
    margin: 25px;
}

mat-card-title {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}
