<!--
<mat-drawer-container>
  <mat-drawer #drawer mode="side" >
    <a [routerLink]="['/home']">Inicio</a><br>
    <a (click)="logout(); drawer.toggle();">Cerrar sesión</a><br>
  </mat-drawer>

  <div class="main">
    <button *ngIf="usuario" (click)="drawer.toggle();" >Mostrar ocultar</button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
-->

<div *ngIf="usuario !== null">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon (click)="opened=!opened;">menu</mat-icon>
    </button>
    <span class="title"><a routerLink="/">Clip Money</a></span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container"> 
    
    <mat-sidenav class="sidenav-inside" [(opened)]="opened">  
      
      <mat-list (click)="opened=!opened;">
        <div matRipple>
          <a routerLink="/home">
            <mat-card class="menu-option">
              <mat-list-item >
                <mat-icon class="menu-icons">home</mat-icon>
                Home
              </mat-list-item>
            </mat-card>
          </a>
        </div>
  
        <div matRipple>
          <a routerLink="/perfil">
            <mat-card class="menu-option">
              <mat-list-item>
                <mat-icon class="menu-icons">account_circle</mat-icon>
                Perfil
              </mat-list-item>
            </mat-card>
        </a>
        </div>
  
        <div matRipple>
          <a routerLink="/transferencia">
            <mat-card class="menu-option">
              <mat-list-item>
                <mat-icon class="menu-icons">swap_horizontal_circle</mat-icon>
                Transferencia
              </mat-list-item>
            </mat-card>
          </a>
        </div>
       
  
        <div matRipple>
          <a routerLink="/operaciones">
            <mat-card class="menu-option">
              <mat-list-item>
                <mat-icon class="menu-icons">assessment</mat-icon>
                Operaciones
              </mat-list-item>
            </mat-card>
          </a>
        </div>
  
        <div matRipple>
          <a routerLink="/deposit">
            <mat-card class="menu-option">
              <mat-list-item>
                <mat-icon class="menu-icons">monetization_on</mat-icon>
                Depósitos
              </mat-list-item>
            </mat-card>
          </a>
        </div>

        <div matRipple>
          <a routerLink="/home">
            <mat-card class="menu-option">
              <mat-list-item>
                <mat-icon class="menu-icons">reply</mat-icon>
                Retiros
              </mat-list-item>
            </mat-card>
          </a>
        </div>
  
        <div matRipple>
          <mat-card id="cerrarSesion" class="menu-option" (click)="logout();">
            <mat-list-item>
              <mat-icon class="menu-icons">person_off</mat-icon>
              Cerrar Sesión
            </mat-list-item>
          </mat-card>
        </div>
  
      </mat-list>
  
    </mat-sidenav>
  
  
    <mat-sidenav-content id="background">
      
      <router-outlet></router-outlet>
  
    </mat-sidenav-content>
    
  </mat-sidenav-container>

</div>

<div *ngIf="usuario === null">
  <router-outlet></router-outlet>
</div>
