#background {
  // background-image: url("./../../../ClipMoney/logo-moneyclip-simple.png");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  background: rgb(242,242,254);
  background: linear-gradient(180deg, rgba(242,242,254,1) 0%, rgba(81,106,255,1) 100%);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.clickable {
  cursor: pointer;
}

.title {
  margin-left: 20px;
  color: #ffffff;
}

// .sidenav-container {
//   height: 90%;
// }

mat-sidenav {
  background-color: #E5E3E3;
}

.mat-sidenav-content {
  align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.mat-card {
  margin: 2px 5px 5px 5px;
  cursor: pointer;
}

.mat-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#cerrarSesion {
  background-color: #ff5252;
}

#cerrarSesion mat-list-item:hover {
  color: white;
}

// .sidenav-container {
//   // margin: 50px
// }

.menu-icons {
  margin: 0 5px 1px 0;
}
