<mat-card fxLayout="column" fxLayoutAlign="center center">
    <img alt="Angular Logo" src="./assets/logo-moneyclip-simple.png" />
    <mat-card-title>Depositar con Cuenta</mat-card-title>
    <mat-card-content>
        <p style="text-align: center;">
            Con estos datos podrán depositarte dinero en tu cuenta
        </p>
        <mat-card class="datos">
            <mat-card-title class="datos">Alias de la Cuenta:</mat-card-title>
            <mat-card-content class="datos"><em>prueba.alias.cuenta</em></mat-card-content>
        </mat-card>
        <mat-card class="datos">
            <mat-card-title class="datos">CVU:</mat-card-title>
            <mat-card-content class="datos"><em>200000000000045687</em></mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>