<mat-card fxLayout="column" fxLayoutAlign="center center">
    <img alt="Angular Logo" src="./assets/logo-moneyclip-simple.png" />
    <mat-card-title>Depositar con Cuenta</mat-card-title>
    <mat-card-content>
        <p>Con estos Datos indicados debajo, podran depositarte en tu cuenta, 
            desde cualquier otra. </p>
        <mat-card class="datos">
            <mat-card-title class="datos">Alias de la Cuenta:</mat-card-title>
            <mat-card-content class="datos">test</mat-card-content>
        </mat-card>
        <mat-card class="datos">
            <mat-card-title class="datos">CVU:</mat-card-title>
            <mat-card-content class="datos">test</mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>