<div id="perfil">
    <mat-toolbar color="primary">
        <h1>Información Personal</h1>
    </mat-toolbar>
    <mat-divider></mat-divider>
    
    <div id="foto">
        <img src="https://picsum.photos/200">
    </div>

    <div id="dataContainer">
        <div class="listItem noedit"><mat-card class="dataUser"><strong>Nombre:</strong> {{ UserData != null ? UserData.Name : ''}}</mat-card></div>
        <div class="listItem noedit"><mat-card class="dataUser"><strong>Apellido:</strong> {{ UserData != null ? UserData.Surname : '' }}</mat-card></div>
        <div class="listItem noedit"><mat-card class="dataUser"><strong>CUIL:</strong> {{ UserData != null ? UserData.Cuil : ''}} </mat-card></div>
        <div class="listItem editable"><mat-card class="dataUser"><strong>Email:</strong> {{ UserData != null ? UserData.Email : '' }}</mat-card>  <mat-icon>edit</mat-icon></div>
        <div class="listItem editable"><mat-card class="dataUser"><strong>Teléfono:</strong> {{ UserData != null ? UserData.PhoneNumber : ''}}</mat-card> <mat-icon>edit</mat-icon></div>
    </div>
    
</div>