<div id="perfil">
    <mat-toolbar color="primary">
        <h1>Perfil del usuario</h1>
    </mat-toolbar>
    <mat-divider></mat-divider>
    
    <div id="foto">
        <p>Foto</p>
    </div>

    <div id="dataContainer">
        <div class="listItem noedit"><mat-card class="dataUser">Nombre:</mat-card></div>
        <div class="listItem noedit"><mat-card class="dataUser">Apellido:</mat-card></div>
        <div class="listItem noedit"><mat-card class="dataUser">CVU:<div class="dataUserGet"></div></mat-card></div>
        <div class="listItem noedit"><mat-card class="dataUser">DNI/CUIT:<div class="dataUserGet"></div></mat-card></div>
        <div class="listItem noedit"><mat-card class="dataUser">Contraseña:<div class="dataUserGet"></div></mat-card></div>
        <div class="listItem noedit"><mat-card class="dataUser">Situacion crediticia:<div class="dataUserGet"></div></mat-card></div>
        <div class="listItem editable"><mat-card class="dataUser">Domicilio:</mat-card><mat-icon>edit</mat-icon></div>
        <div class="listItem editable"><mat-card class="dataUser">Telefono:</mat-card><mat-icon>edit</mat-icon></div>
        <div class="listItem editable"><mat-card class="dataUser">Email:</mat-card><mat-icon>edit</mat-icon></div>
    </div>
    
</div>