h2 {
    margin: 0;
    text-align: center;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 8px 5px;
}

i {
    font-size: 80px;
}

ul {
    color: #721c24;
    margin: 0 0 10px 0;
    padding-left: 25px;    
}

button {
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 5px;
    width: 50%;
}