<mat-card fxLayout="column" fxLayoutAlign="center center">
    <img alt="Angular Logo" src="./assets/logo-moneyclip-simple.png" />
    <mat-card-title>Depositar</mat-card-title>
    <mat-card-content>
        <p>¿Como deseas Realizar el Deposito?</p>
        <div>
            <button type="submit"
                mat-raised-button
                color="primary"
                ><a routerLink="/depositocuenta" routerLinkActive="active">Deposito con Cuenta</a>
            </button>
        </div>
        <div>
            <button type="submit"
                mat-raised-button
                color="primary"
                ><a routerLink="./cards" routerLinkActive="active">Pago con tarjeta de credito / debito</a>
            </button>
        </div>
        <div>
        <button type="submit"
            mat-raised-button
            color="primary"
            ><a routerLink="/depositrp" routerLinkActive="active">Deposito con PagoFacil/Rapipago</a>
        </button>
        </div>
    </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
