<mat-card fxLayout="column" fxLayoutAlign="center center">
    <img alt="Angular Logo" src="./assets/logo-moneyclip-simple.png" />
    <mat-card-title>Depositar</mat-card-title>
    <mat-card-content>
        <p>¿Como deseas Realizar el Deposito?</p>
        <div>
            <button type="submit"
                mat-raised-button
                color="primary"
                >Deposito Bancario
            </button>
        </div>
        <div>
            <button type="submit"
                mat-raised-button
                color="primary"
                >Pago con tarjeta de credito / debito
            </button>
        </div>
        <div>
        <button type="submit"
            mat-raised-button
            color="primary"
            >PagoFacil / Rapipago
        </button>
        </div>
    </mat-card-content>
</mat-card>
