<mat-card fxLayout="column" fxLayoutAlign="center center">
    <img alt="Angular Logo" src="./assets/logo-moneyclip-simple.png" />
    <mat-card-title>Depositar</mat-card-title>
    <mat-card-content>
        <p>¿Como deseas Realizar el Depósito?</p>
        <div>
            <a routerLink="./bankAccount">
                <button mat-raised-button color="primary">
                    Depósito con Cuenta Bancaria
                </button>
            </a>
        </div>
        <div>
            <a routerLink="./cards">
                <button mat-raised-button color="primary">
                    Pago con tarjeta de crédito/débito
                </button>
            </a>
        </div>
        <div>
            <a routerLink="./cash" >
                <button mat-raised-button color="primary">
                    Depósito con PagoFacil/Rapipago
                </button>
            </a>
        </div>
    </mat-card-content>
</mat-card>

<!-- <router-outlet></router-outlet> -->
