* {
    margin: 40px 0px;
    // margin-bottom: 200px;
}

#operacionesTitle{
    font-size: 25px;
    font-weight: 600;
}

table {
    margin-top: 0px;
}

table mat-table{
    width: 100px;
}

th {
    width: 100px;
}
